header{
    margin:0 auto;
    max-height: 100%;
    width:100%;
position: cover;
max-width:100%;
    font-size: 0.85vw;
  }
  a{
    text-decoration: none;
    color:rgb(201, 42, 42);
    font-weight:bold;
font-size:18px;
  }
  a:hover{
    text-decoration: none;
    color:rgb(46, 50, 255);
    font-weight:bold;
font-size:18px;

  }
  footer{
    position: absolute;
    text-align: center;
    margin-top:30em;
    width: 99.5%;
    height:5em;
    color:white;
    font-size: 18pt;
    background: #2A2A93;
    background: linear-gradient(270deg, #27288A 0%, #3143a7
  82%)
  }
  .lsq{text-align: center;
}
.ber{ text-align: center;
  margin-top: 2em;
}
#ktulhu{width: 3vw;
  margin-top: 1em;
  margin-left:35em;
  position: absolute;
}
  .q{float:left;
  margin-left:13em;
font-size: 17pt;}
hr{background-color:#27288A ;
  height:0.1em;
margin-bottom: 0;}
#sm{margin-left:15em;
  margin-top:4em;
  float:left;}
  .help{color:#ffffff;
    margin-top:10em;
    margin-left:10em;
    font-size:15pt;
    font-family: Cambria;
    float:left;
  }
  #betatest{float: right;
  font-size: 5em;
  margin-top: 0.3em;
  color:#ffffff}

#seees{  
  width:8em;
}
.top{
 
  margin-top:0;
  margin-bottom:0;
  background: #2A2A93;
  background: linear-gradient(270deg, #27288A 0%, #3143a7
82%)
}

.bottom{
  height: 50em;
  margin-top:-10;
  background: #27288A;
  background: linear-gradient(270deg, #3143a7 0%, #27288A
82%)
}

  .siza{margin-left:50em;
    max-width:100%;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    
    .modal-content {
    position: relative;
    border-radius: 5%;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    color:black;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    }
    
    
    @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
    }
    
    
    .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
    .modal-header {
    padding: 2px 16px;
    color:rgb(0, 0, 0);
    }
    
    .modal-body {padding: 2px 16px;
    border-top: 1px solid rgba(0,0,0,.3);
    }
    
    .modal-footer {
    border-top: 1px solid rgba(0,0,0,.3);
    padding: 2px 16px;
    color:rgb(0, 0, 0);
    }
    .modal-body a{
    text-decoration:none;
    color:black;
    }
    @media screen and (min-width: 1024px) {
#sm{width:26em}
.help{margin-top: 4em;
margin-left: 4em;
font-size: 10pt;}
footer{
  margin-top:50em;
}
#ktulhu{width: 5vw;
 margin-left:15em;
}
    }
    @media screen and (min-width: 1920px) {
     #sm{margin-left:15em;
        margin-top:4em;
        float:left;}
        #ktulhu{width: 3vw;
          margin-top: 1em;
          margin-left:35em;
          position: absolute;
        }
        footer{
          position: absolute;
          text-align: center;
          margin-top:30em;
          width: 99.5%;
          height:5em;
          color:white;
          font-size: 18pt;
          background: #2A2A93;
          background: linear-gradient(270deg, #27288A 0%, #3143a7
        82%)
        }
        .help{color:#ffffff;
          margin-top:10em;
          margin-left:10em;
          font-size:15pt;
          font-family: Cambria;
          float:left;
        }
      }
          